label{
  width:100%;
}

input,
textarea{
  width:100%;
  margin-bottom: .75rem;
  padding:.25rem;
  font-size: 1rem;
  color:$main;
}

form {
  button{
    float: right;
    background: #fff;
    cursor: pointer;
    @include trans($speed:.25s);

    &:hover{
      background: darken(#fff, 15%);
    }
  }
}
button{
  padding:.5rem 1rem;
  border:0;
  font-size:1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  @include textBody;
  transform:skewX(-8deg);
}
