*{
  box-sizing: border-box;
}
body{
  margin: 0;
  @include sitePadding($body:true);
  color:$main;
  line-height: 1.7;
  //sticky footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//sticky footer
main{
  flex:1;
}

pre{
  padding:1rem;
  background: $main;
  color:$gray;
  code{
    padding:0;
    background: transparent;
  }
}

code{
    padding: 0 .5rem;
    background: lighten($gray, 10%);
}

li{
  padding-bottom: .25rem;
}

figure{
  margin:0
}

figcaption{
  padding: 1rem;
  font-size:.85rem;
  color:$mainLight;
  font-style: italic;
  @include mq($size:sm){
    padding:1rem 5rem;
    text-align: center;
  }
}

img{
  max-width: 100%;
}
