$xs:450px;
$sm:701px;
$md:1101px;
$lg:1401px;

@mixin textBody(){
  font-family: 'Merriweather', serif;
}

@mixin textHeading(){
  font-family: 'Lato', sans-serif;
}

//$main: hsla(145, 61%, 9%, 1);
$main:#2E3532;
$mainLight: lighten($main, 45%);
$green:#79B791;
$greenLt:#D3FAD6;
$blue:hsla(190, 28%, 58%, 1);
$red:#EF6F6C;//FE5F55;
$yellow: hsla(45, 100%, 80%, 1);
$gray: hsla(221, 10%, 86%, 1);
$grayTrans: hsla(221, 10%, 86%, .75);

//transition duration
$dur:.5s;

@mixin mq($size:lg) {
  @if $size == lg {
    @media (min-width: $lg) { @content; }
  }
  @else if $size == md {
    @media (min-width: $md) { @content; }
  }
  @else if $size == sm {
    @media (min-width: $sm) { @content; }
  }
  @else if $size == xs {
    @media (min-width: $xs)  { @content; }
  }
}

@mixin trans($speed:.75s, $prop:all){
  transition:$speed $prop ease-in-out;
}

@mixin sitePadding($body:false){
  padding:0 1.5%;

  @include mq($size:md){
    @if $body == true {
      padding: 0 5%;
    } @else{
      padding: 0 5.5%;
    }
  }
  @include mq(){
    @if $body == true {
      padding: 0 10%;
    } @else{
      padding: 0 12.5%;
    }
  }
}

@mixin spanWindow(){
  width: 103%;
  margin-left: -1.5%;

  @include mq($size:md){
    width:111%;
    margin: 0 -5.5%;
  }
  @include mq(){
    width:125%;
    margin-left: -12.5%;
  }
}
