<footer class="site-footer">


<h2 class="footerHeading">{{ site.title }}</h2>
<ul class="socialMedia">
  {% if site.github_username %}
  <li>
    {% include icon-github.html username=site.github_username %}
  </li>
  {% endif %}

  <li>
    {% include icon-codepen.html username="atrama"%}
  </li>

  {% if site.twitter_username %}
  <li>
    {% include icon-twitter.html username=site.twitter_username %}
  </li>
  {% endif %}
</ul>
</footer>
{% js main %}
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic|Merriweather:400,700,300,400italic' rel='stylesheet' type='text/css'>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-13276805-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-13276805-1');
</script>

